# --- IDEs (Eclipse, IntelliJ, VS Code) ---
.settings/
.project
.classpath
*.launch
.vscode/
.idea/
*.iml

# --- Compilação do Java ---
*.class
bin/
target/
out/
build/

# --- Arquivos de Sistema Operacional ---
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
.directory
*~

# --- Logs e Arquivos Temporários ---
*.log
*.tmp
*.bak
